Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

feat: more tweaks
  .github/workflows/lint-eslint.yml
  .github/workflows/release.yml
  package.json
  src/configs/jsdoc.ts
  src/configs/test.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.27 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  2bfe1f74c9a57f4d73733e3fdd1121836b4cf045
Due: none

feat: more tweaks
  src/configs/overrides.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.28 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5e6040349be77384662a69252b5651c340c805cd
Due: none

feat: more tweaks
  src/configs/test.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  ffb6603df3b32f5ecd3d64216143c4c1162824af
Due: none

chore(release): 3.0.0-next.29 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: more tweaks
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.30 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9393497f055bc220707b2b14292d0cf02afbf437
Due: none

feat: more tweaks
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.31 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e4143e4f5f3c466c23c7f7d5e2c98aadcd2be1df
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/functional.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.32 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f4272d6fc7f87d53ef2d50a53b1f377d317234ee
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/promise.ts
  src/configs/typescript.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.33 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5020a6f2ef2d1973162f57356c21c78217a8ee48
Due: none

feat: more tweaks
  src/configs/typescript.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.34 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  422edf0e67415a5117a04cc883ca4965f8d0970d
Due: none

feat: more tweaks
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/configs/imports.ts
  src/configs/typescript.ts
  src/factory.ts
  src/types.ts
  tsconfig.eslint.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.35 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  61f093c8b07fd3164e8e038c6983579857f6e45b
Due: none

feat: more tweaks
  src/configs/markdown.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.36 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  068ac993fb3a3b381837541b643251a5183ef82b
Due: none

feat: more tweaks
  src/configs/markdown.ts
  src/configs/typescript.ts
  src/factory.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.37 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8af60026a1bb04b6bd3f9d331af42da69ffac449
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.38 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ea80390608421818b8b26ac720d60a140f097658
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.39 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
