Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

ci: enable beta releases
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b9bdffc420f11c7f46b1f0d80e92d1a56d473d5e
Due: none

fix: npm releases
  package.json
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e2627da6e37df4f4fc3123522b4ca2c298041d06
Due: none

fix: more tweaks
  .prettierrc.yml
  .vscode/settings.json
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
  src/configs/stylistic.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1dfec8ce2bc7dc9eccd5a009e444ec332d1ae882
Due: none

fix: more tweaks
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/comments.ts
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/in-editor.ts
  src/configs/index.ts
  src/configs/javascript.ts
  src/configs/jsdoc.ts
  src/configs/jsonc.ts
  src/configs/markdown.ts
  src/configs/node.ts
  src/configs/promise.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/unocss.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/factory.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e5d07727b0f765f2bc14b9e60220644757e1ddad
Due: none

fix: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9d188ec256120b9ce14d0b49d95430b1f8a88f5e
Due: none

fix: more tweaks
  scripts/typegen.ts
  src/configs/comments.ts
  src/configs/functional.ts
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/functional.ts
  src/configs/javascript.ts
  src/configs/typescript.ts
  src/factory.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4e9b7fb0bde6db8fcccf2af0185803bef90d72b2
Due: none

feat: more tweaks
  src/configs/regexp.ts
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  837b3ade49b7d9691323b2e156f81f48adabc0e1
Due: none

feat: more tweaks
  src/configs/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.8 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  7a7ff8406d85ff1150df2e9c81486d3a3aae9afc
Due: none

feat: more tweaks
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  1a88309da0403fb21fcf7e0156bd51915986128a
Due: none

chore(release): 3.0.0-next.9 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: more tweaks
  knip.jsonc
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  src/configs/vue.ts
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.10 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  efda7bd0ac69b63ca45d6f33bb337e76c9c5fac3
Due: none

feat: more tweaks
  src/configs/functional.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.11 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f8ffaca7ff4569043ab908bf239e38c5f8162439
Due: none

feat: more tweaks
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.12 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  0b6d7b716959c6aa86967cc1181c98ea6affa2db
Due: none

feat: more tweaks
  src/configs/overrides.ts
  src/configs/vue.ts
  src/types.ts
  src/utils.ts
  typings/eslint-plugin-vue-i18n.d.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.13 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  71906dbf187fec74d02d9211ec9a782760e84a58
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
