Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

chore(release): 2.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  54/c468ab78ffdaf4b0d20044248e4bf29433a363
Due: none

Revert "ci: release without linting"
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

fix: update sonarjs/no-duplicate-string config
  src/plugins/sonarjs.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 2.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ec/6a8168ec82854077a8d585da731ad128eae5e6
Due: none

chore: fix cspell config for ignoring hex digits
  .cspell.json
Due: prettier --write, prettier --ignore-unknown --write

fix: turn off prefer-top-level-await for commonjs
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  a0/03df000c577b6de2fbb0b2e931015fda20d0ca
Due: none

fix: update unified-signatures rule config
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  36/3bad8a0239b18ce64170e8129c4e2cffe38c8c
Due: none

fix: turn off prefer-destructuring when using typescript
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f8/9b6b9477a8dc0e10c4c81936f0d1ad4e3a5668
Due: none

fix: update import/no-extraneous-dependencies
  src/plugins/import.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  08/d70b7d6a36c86ab29d590ff8e1f54dee170f25
Due: none

fix: ignore md files for filename-case
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.8 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5e/103f4e11d907d3e70f52fcef2a331bcb987382
Due: none

fix: use string regex
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.9 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  2a/20d95ed1ea37bfe876222d61fe48c9d85dafef
Due: none

fix: allow using labels for loops and switches
  src/builtin/layout+formatting.ts
  src/builtin/suggestions.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.10 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  a5/8af56b5d0aa941e17d488f842b2bdc6efc66d9
Due: none

fix: update some rules
  src/common/files.ts
  src/configs/common-overrides.ts
  src/plugins/functional.ts
  src/plugins/import.ts
  src/plugins/jsdoc.ts
  src/plugins/markdown.ts
  src/plugins/sonarjs.ts
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: update files
  DONATIONS.md
  knip.jsonc
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

build: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

ci: update node version
  .github/actions/prepare/action.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 2.0.11 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  2f623155e03df149f9d3137f5c86cc0637c0c346
Due: none

fix: build cjs and adjust rules some more
  package.json
  rollup.config.ts
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/index.ts
  src/configs/javascript.ts
  src/configs/markdown.ts
  src/configs/overrides.ts
  src/configs/test.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/factory.ts
  src/globs.ts
  src/types.ts
  tsconfig.build.json
  typings/es.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: more rules and fixups
  .github/workflows/lint-prettier.yml
  .github/workflows/release.yml
  .lintstagedrc.yml
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  src/configs/imports.ts
  src/configs/javascript.ts
  src/configs/typescript.ts
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: cleanup
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/stylistic.ts
  src/configs/vue.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: more adjustments
  .vscode/settings.json
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/comments.ts
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/in-editor.ts
  src/configs/index.ts
  src/configs/javascript.ts
  src/configs/markdown.ts
  src/configs/node.ts
  src/configs/sort.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/vue.ts
  src/factory.ts
  src/types.ts
  src/utils.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell
