Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

fix: update jsdoc severities
  src/plugins/jsdoc.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.5.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b9cfe2e7067408c29f16bd75dd36b8409321f846
Due: none

chore: update repo files
  .gitattributes
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/build-node.yml
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  .github/workflows/release.yml
  .gitignore
  .prettierignore
  .releaserc.yml
  DONATIONS.md
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: use a normal eslint config for the project
  .eslintrc.json
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  scripts/generate-eslintrc.ts
  scripts/generate-preview.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(knip): ignore eslint peer dependencies
  knip.jsonc
Due: none

chore: update repo files (#1060)
  .eslintrc.json
  .gitattributes
  .github/FUNDING.yml
  .github/ISSUE_TEMPLATE/bug-report.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/workflows/build-node.yml
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip-prod.yml
  .github/workflows/release.yml
  .gitignore
  .lintstagedrc.yml
  .prettierignore
  .releaserc.yml
  DONATIONS.md
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  scripts/generate-eslintrc.ts
  scripts/generate-preview.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: improve config merging and typescript import settings
  package.json
  scripts/generate-preview.ts
  src/builtin/suggestions.ts
  src/common/files.ts
  src/common/merge-configs.ts
  src/configs/common-overrides.ts
  src/configs/modern.ts
  src/configs/typescript.ts
  src/plugins/import.ts
  src/plugins/jsdoc.ts
  src/plugins/node.ts
  src/plugins/typescript.ts
  src/plugins/unicorn.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: improve config merging and typescript import settings (#1061)
  package.json
  scripts/generate-preview.ts
  src/builtin/suggestions.ts
  src/common/files.ts
  src/common/merge-configs.ts
  src/configs/common-overrides.ts
  src/configs/modern.ts
  src/configs/typescript.ts
  src/plugins/import.ts
  src/plugins/jsdoc.ts
  src/plugins/node.ts
  src/plugins/typescript.ts
  src/plugins/unicorn.ts
  tsconfig.base.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  219fab89c1d59881eefab83e0b9e8e97a6695982
Due: none

fix: use unicorn/import-style instead of import/no-named-as-default-member
  src/plugins/import.ts
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  50afe24adeb2c3e855d7199e312c525b84d2efa8
Due: none

fix: turn off import/no-cycle
  src/plugins/import.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

refactor: bump deepmerge-ts and refactor with new update
  package.json
  pnpm-lock.yaml
  src/common/merge-configs.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: top-level overrides applying to non-top-level files
  src/configs/common-overrides.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: update test config
  src/configs/test.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: update linting rules
  .eslintrc.json
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 1.6.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  dc/7de41b8ea425545eebc26754d479f3b0e183bb
Due: none

fix: allow named imports from typescript
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: allow classes in test files
  src/configs/test.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9a/893de4219f0c3a2b33e89eddce274b928076bc
Due: none

fix: improve scripts config
  src/configs/common-overrides.ts
  src/configs/script.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b8/9d2afeb4790c1a9fa3ef609b1a3a9a0b794278
Due: none

fix: don't require usless jsdoc in js files
  src/plugins/jsdoc.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  de/0f1ec39b330867e8bb94aa420068971bed3649
Due: none

fix: use @typescript-eslint/no-var-requires in cts files
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  11/883ce22f3c10aaa3026e6ef609a30234a5d218
Due: none

fix: allow assertions statements
  src/plugins/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: treat paths starting with # as internal
  src/plugins/import.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.8 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9c/03cc72245547e8a5493fbd4cdcdb1366b8a157
Due: none
