Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: don't use renamed scope when defining rules
  eslint.config.js
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/imports.ts
  src/configs/in-editor.ts
  src/configs/markdown.ts
  src/configs/node.ts
  src/configs/overrides.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b692abf3a0a3b3da065bb34cf1d3004d59dcdfc0
Due: none

fix: don't use renamed scope when defining rules
  src/configs/comments.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  35b5d5fa397b6f6ce04634a58d85d5902db68c44
Due: none

ci: run ci on renovate branches
  .github/workflows/build.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/typecheck.yml
Due: prettier --write, prettier --ignore-unknown --write

ci: update renovate config
  .github/renovate.json
Due: prettier --write, prettier --ignore-unknown --write

chore: update renovate automergeStrategy
  .github/renovate.json
Due: prettier --write, prettier --ignore-unknown --write

fix: use @eslint-community/eslint-plugin-eslint-comments
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/comments.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

ci: change how peer deps are updated
  .github/renovate.json
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.9.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  941d89bd417ff2b17c12aef61768d0fef520a213
Due: none

ci: ignore action names with pinned version
  cspell.config.yml
Due: prettier --write, prettier --ignore-unknown --write

chore: update jiti config
  eslint.config.js
Due: none

fix: replace unicorn/no-array-push-push with unicorn/prefer-single-call
  src/configs/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  96c947b65c54607e004084f659923a269209aee1
Due: none

chore: migrate pnpm config to pnpm-workspace.yaml
  package.json
  pnpm-workspace.yaml
Due: prettier --write, prettier --ignore-unknown --write

fix: update rule names for @eslint-react v2, eslint-plugin-vue v10 and @vitest
  src/configs/in-editor.ts
  src/configs/react.ts
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: merge optimize-regex plugin into regexp namespace
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: merge optimize-regex plugin into regexp namespace (#1394)
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.10.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  27a5827817f3667efbc9103d1c26322b37d7285c
Due: none

chore: integrate with create-ts-pkg template and migrate to TypeScript 6
  .github/actions/prepare/action.yml
  .github/codecov.yml
  .github/labels.yml
  .github/workflows/build.yml
  .github/workflows/done-label.yml
  .github/workflows/lint-attw.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/template-sync.yml
  .gitignore
  .nvmrc
  .templatesyncignore
  README.md
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore: integrate with create-ts-pkg template and migrate to TypeScript 6 (#1395)
  .github/actions/prepare/action.yml
  .github/codecov.yml
  .github/labels.yml
  .github/workflows/build.yml
  .github/workflows/done-label.yml
  .github/workflows/lint-attw.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-knip.yml
  .github/workflows/lint-markdown.yml
  .github/workflows/lint-packages.yml
  .github/workflows/lint-spelling.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .github/workflows/template-sync.yml
  .gitignore
  .nvmrc
  .templatesyncignore
  README.md
  eslint.config.js
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  project-dictionary.txt
  rollup.config.ts
  src/tsconfig.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

refactor: share config assembly between factory and typegen
  scripts/typegen.ts
  src/assembly.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

refactor: make feature inclusion data-driven in assembly
  src/assembly.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: validate rule existence during typegen
  scripts/typegen.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

refactor: add typed loadPlugins helper
  src/configs/comments.ts
  src/configs/node.ts
  src/configs/promise.ts
  src/configs/react.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/tailwind.ts
  src/configs/test.ts
  src/configs/unicorn.ts
  src/configs/unocss.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: wire the typegen script into wireit
  package.json
Due: prettier --write, prettier --ignore-unknown --write

refactor: share config assembly between factory and typegen (#1396)
  package.json
  scripts/typegen.ts
  src/assembly.ts
  src/configs/comments.ts
  src/configs/node.ts
  src/configs/promise.ts
  src/configs/react.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/tailwind.ts
  src/configs/test.ts
  src/configs/unicorn.ts
  src/configs/unocss.ts
  src/factory.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(deps): update dependencies and add new plugins
  knip.jsonc
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  typings/es.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: add AGENTS.md guide and update documentation
  AGENTS.md
  README.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: disable unicorn/no-unsafe-property-key and fix markdown type awareness
  src/assembly.ts
  src/configs/markdown.ts
  src/configs/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: disable noisy sonarjs and unicorn rules
  AGENTS.md
  src/configs/sonar.ts
  src/configs/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: add missing optional peer dependencies to package.json
  package.json
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 4.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
