Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

fix: build
  rollup.config.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.7.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e1c84c24272a69dc7c33986837804843aa8e94c6
Due: none

feat: deps update and adjustment for them
  knip.jsonc
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/formatters.ts
  src/configs/stylistic.ts
  src/configs/tailwind.ts
  src/configs/typescript.ts
  src/factory.ts
  src/types.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.8.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1e9b5e1f0d0aed202ff117adf6080d8772e8e8ca
Due: none

fix: update how indents are supplied
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
  src/configs/jsonc.ts
  src/configs/stylistic.ts
  src/configs/tailwind.ts
  src/configs/toml.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: disable rule incase where we're waiting for upstream
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: indenting
  src/configs/formatters.ts
  src/configs/jsonc.ts
  src/configs/stylistic.ts
  src/configs/tailwind.ts
  src/configs/toml.ts
  src/configs/vue.ts
  src/configs/yaml.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: update
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

build: add baseline-browser-mapping as peer dep
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore: tell knip to ignore baseline-browser-mapping
  knip.jsonc
Due: none

chore(release): 3.9.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  37ff9e69579076eaa0c943f45fdbf5d1a5cfcdf3
Due: none

chore: fix repo url path
  package.json
Due: prettier --write, prettier --ignore-unknown --write

chore: update deps
  package.json
  pnpm-lock.yaml
  src/configs/in-editor.ts
  src/configs/markdown.ts
  src/configs/sonar.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: don't allow template literals if they aren't needed
  src/configs/stylistic.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  48216ca7fc410449673a81b32dbe5e5ac7ec52d6
Due: none

chore: fix up knip
  knip.jsonc
Due: none

ci: remove now unused npm token
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

ci: allow knip to fail
  .github/workflows/lint-knip.yml
Due: prettier --write, prettier --ignore-unknown --write

ci: remove semantic-release as dev dep
  package.json
Due: prettier --write, prettier --ignore-unknown --write

build: update lock file
  pnpm-lock.yaml
Due: none

build: deps update
  knip.jsonc
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

build: add publint
  .github/workflows/build.yml
  .releaserc.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore: replace npx with pnpm dlx
  package.json
Due: prettier --write, prettier --ignore-unknown --write

refactor: improve code
  src/configs/formatters.ts
  src/configs/typescript.ts
  src/factory.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: casting a possibly undefined value to a non-undefined value
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

refactor: change to non-deprecated type
  scripts/typegen.ts
  src/configs/typescript.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1a3cf6c1e83478374bc01f3715ecb04b6d3b3232
Due: none

ci: fix call
  .github/workflows/build.yml
Due: prettier --write, prettier --ignore-unknown --write

fix: config type
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.9.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  3661229f354cf8bd173581a444bf6c0f0c432ff3
Due: none
