Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

Notes added by 'git notes add'
  dd47cda844502b3b967e5b23d03f7e7c2f2f56f7
Due: none

feat: more tweaks
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/typescript.ts
  src/factory.ts
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.40 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  388d11dc40f8b64c974099a4c987dc04cac24b10
Due: none

feat: more tweaks
  src/configs/overrides.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.41 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  5e76460920a6a83bdb8d399f925efaa7e5a86f7c
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  project-dictionary.txt
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.42 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  74360dd4933d0576d4130b21f3b9ceb876aaa864
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.43 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  b8b4df42011513cbacdb1d7fe886e4c844a95cec
Due: none

feat: more tweaks
  .github/workflows/release.yml
  .github/workflows/typecheck.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
  src/configs/markdown.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/vue.ts
  src/factory.ts
  src/globs.ts
  src/types.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.44 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8dbd0edc38341bfdb366722a70a9b92f32ce2857
Due: none

feat: more tweaks
  eslint.config.js
  src/factory.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.45 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1fb356672a45994914db8e0c0411218768066eb2
Due: none

feat: more tweaks
  rollup.config.ts
  scripts/typegen.ts
  src/configs/markdown.ts
  src/factory.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.46 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  3108f62833ac9ad20add7d51545710ad520f4b04
Due: none

feat: more tweaks
  .github/renovate.json
  package.json
  pnpm-lock.yaml
  rollup.config.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.47 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  66bf7dec2d32068b71865974dc27c815ef68b678
Due: none

feat: more tweaks
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.48 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  0933ab9b6089d35092e166cd716ec3ce47c20520
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  scripts/typegen.ts
  src/configs/comments.ts
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/in-editor.ts
  src/configs/javascript.ts
  src/configs/jsdoc.ts
  src/configs/jsonc.ts
  src/configs/markdown.ts
  src/configs/node.ts
  src/configs/overrides.ts
  src/configs/promise.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/sort.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/unocss.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/factory.ts
  src/types.ts
  src/utils.ts
  tsconfig.json
  typings/eslint-plugin-vue-i18n.d.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.49 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  244fb2cbdb4722a4bc2a34cbb611a99983cf389a
Due: none

chore(release): 2.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9d5b3ba31c9111df022ed394f59b7b9419562c71
Due: none

chore(release): 3.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e47b3b1c992edc271a5f28e63fab76afe890fa14
Due: none

fix: make more dependencies peer dependencies and allow auto installing them as needed
  package.json
  pnpm-lock.yaml
  src/configs/markdown.ts
  src/configs/vue.ts
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  f2d7d0f1cc1d1fb840559c4cf260be6ee87f5911
Due: none
