Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 3.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: no-promise-executor-return - allowVoid
  src/configs/javascript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  88309a3a9b47350c64c72c5d85c44b709eb09594
Due: none

fix: functional/prefer-tacit switch to a warning
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  628acb5828d418d9746d79f8c32960d01a86ba41
Due: none

fix: functional/no-return-void turn of in app mode with recommened fp enforcement
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8f56534411e119cfdb69ec5e914733a677276fe9
Due: none

fix: don't require ts when not wanted
  scripts/typegen.ts
  src/configs/formatters.ts
  src/configs/imports.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e591eeda3e58adea45fef65c3b3d75291cc3566e
Due: none

fix: type returned from rsEslint
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  d39c1cf2dbd6e53f21268c19497ccc87f9209c1c
Due: none

chore(release): 3.0.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: default prettier printWidth to 120
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

style: update styles
  rollup.config.ts
  src/configs/comments.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/javascript.ts
  src/configs/jsdoc.ts
  src/configs/jsonc.ts
  src/configs/markdown.ts
  src/configs/node.ts
  src/configs/promise.ts
  src/configs/sonar.ts
  src/configs/sort.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/unocss.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/factory.ts
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  6d08c205cf9c213173231d64d17cf8ce435fe700
Due: none

refactor: adjust loading on ts-parser for vue
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: add react support
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/index.ts
  src/configs/jsx.ts
  src/configs/react.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: add react support
  knip.jsonc
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/index.ts
  src/configs/jsx.ts
  src/configs/react.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: directly use sort-package-json instead of prettier
  .prettierrc.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.1.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  6828d2d2598d238d0018bc52ab20fb1b559f4cd2
Due: none

fix: import/no-extraneous-dependencies ignore config dirs
  src/configs/imports.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.1.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  6f2b69715348c4c6d08c6e349d5ea6dba50d93f8
Due: none

feat: add tailwind
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/index.ts
  src/configs/tailwind.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: increase wait time to find needed dependencies
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

build: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore: knip fix up
  knip.jsonc
Due: none

chore(release): 3.2.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  610b530d5702091a5e437171d3eb4d01336e6281
Due: none

fix: allow adjusting the print width and have tailwind config use stylistic settings
  scripts/typegen.ts
  src/configs/formatters.ts
  src/configs/stylistic.ts
  src/configs/tailwind.ts
  src/factory.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: rename tailwindcss to tailwind
  src/configs/tailwind.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.2.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4b53f0de29361840de23a01c7e7e7590c890dee2
Due: none

fix: naming convention - don't enforce on getters
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
