Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

.lintstagedrc:

{
  "./**/*.{json,yml}": [
    "prettier --write",
    "git add"
  ],
  "./**/*.{ts}": [
    "prettier --write",
    "eslint --fix",
    "git add"
  ]
}

.lintstagedrc.yml:

"*.{json,yml}":
  - prettier --ignore-unknown --write

"*.ts":
  - prettier --ignore-unknown --write
  - pnpm run generate-eslintrc
  - eslint --fix
  - cspell

"*.md":
  - prettier --ignore-unknown --write
  - markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore
  - cspell

build: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

build: update build
  .gitattributes
  .github/actions/prepare/action.yml
  .github/labels.yml
  .github/renovate.json
  .github/workflows/build.yml
  .github/workflows/done-label.yml
  .github/workflows/lint-js.yml
  .github/workflows/lint-yaml.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr.yml
  .github/workflows/stale.yml
  .github/workflows/sync-labels.yml
  .lintstagedrc.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
  .markdownlintignore
  .npmrc
  .nvmrc
  .prettierrc.yml
  .vscode/settings.json
  CONTRIBUTING.md
  DONATIONS.md
  cspell.config.yml
  knip.jsonc
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  src/configs/typescript.ts
  src/factory.ts
  src/globs.ts
  src/tsconfig.build.json
  src/tsconfig.json
  src/utils.ts
  tsconfig.base.json
  tsconfig.build.json
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(functional/no-conditional-statements): ignore import.meta.vitest conditions
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: add support for ReactRouter 7
  src/configs/react.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: update import rules for apps
  src/configs/imports.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.5.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  94846574968fc974b9f7e6c4703932ae9f04b609
Due: none

fix: only use ts version of no-loop-func when using ts
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  d7e54fd8be4bbf3d2a319f71fd2fdbebe89873b0
Due: none

chore(release): 3.5.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: add more vue-i18n rules
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.5.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  da9cd89d0c86cd63ec142c7e3e37f9f91ba14943
Due: none

fix: add nuxt overrides
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  74488964ace574d03872ba41f9dabb3bcf40bb6a
Due: none

chore(release): 3.5.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 3.5.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  feb7c06500cec64f694c268e4963549d05c49338
Due: none

chore(release): 3.5.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4222b146630ca3a3279c591009a268a15be75ae7
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

ci: update knip
  .github/workflows/lint-knip-dev.yml
  .github/workflows/lint-knip.yml
  .github/workflows/release.yml
  knip.jsonc
  package.json
Due: prettier --write, prettier --ignore-unknown --write

feat: configure tailwind v4
  package.json
  pnpm-lock.yaml
  scripts/typegen.ts
  src/configs/formatters.ts
  src/configs/tailwind.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: type errors
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: fixup
  .github/workflows/lint-knip.yml
  eslint.config.js
  knip.jsonc
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.6.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9937dbb88a921bc47f4cc409e0725272cca63c8e
Due: none

fix: remove deprecated rules
  src/configs/javascript.ts
  src/configs/typescript.ts
  src/configs/unicorn.ts
  src/configs/vue.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.6.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  69169a6b524ff79ef386a78669e77c349aba0206
Due: none

fix: rely on upstream for turning off rules for prettier
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  801fe554a8efcc4a963f52bb898fbd52c19eacc0
Due: none

chore(release): 3.6.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: update deps
  package.json
  pnpm-lock.yaml
  src/utils.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.6.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  bf64f86d43ff3c311e670b4afd3713b83133fda9
Due: none

feat: update
  .github/labels.yml
  .github/renovate.json
  .prettierignore
  .prettierrc.yml
  .releaserc.yml
  cspell.config.yml
  package.json
  pnpm-lock.yaml
  src/configs/promise.ts
  src/configs/typescript.ts
  src/configs/vue.ts
  tsconfig.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  bfc553641265d89da64a31628d8e64c6aa85aa40
Due: none
