Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: more tweaks
  src/configs/vue.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.14 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  c57b890ed96149bee0c468d0f25bdde6c317d6ff
Due: none

feat: more tweaks
  src/configs/node.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.15 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  09d4b645493a517ee0b1f0adf1cb59696e4588dd
Due: none

feat: more tweaks
  src/configs/sonar.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.16 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  1f82fd71d5519f72ebf9c94058d9613c0e721fc6
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/functional.ts
  src/configs/javascript.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

ci: don't use node 22 for now
  .github/actions/prepare/action.yml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.0.0-next.17 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  d5251aeed9b4514f2a314e6b765bf8b5bf6b5f68
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/sonar.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.18 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  8557dd8095044b0d34564c97c168a2b23c805105
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/functional.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.19 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  c878648e832fdc7b3cd3592a30be84e02a084edf
Due: none

feat: more tweaks
  .gitignore
  CHANGELOG.md
  cspell.config.yml
  eslint.config.js
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  scripts/typegen.ts
  src/configs/functional.ts
  src/configs/ignores.ts
  src/configs/imports.ts
  src/configs/javascript.ts
  src/configs/jsdoc.ts
  src/configs/jsonc.ts
  src/configs/markdown.ts
  src/configs/sonar.ts
  src/configs/stylistic.ts
  src/configs/test.ts
  src/configs/toml.ts
  src/configs/typescript.ts
  src/configs/unocss.ts
  src/configs/vue.ts
  src/configs/yaml.ts
  src/factory.ts
  src/globs.ts
  src/types.ts
  src/utils.ts
  tsconfig.eslint.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 3.0.0-next.20 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  d5b51f1f89e1548dfdc9fe6029a7e0d936f35e81
Due: none

feat: more tweaks
  .vscode/settings.json
  src/configs/jsdoc.ts
  src/factory.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.21 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  335954cceb5a0df5c8a7ea0296dcd1306b8a864b
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/factory.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.22 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f1caee937641952249386a5173ffe6a8ff87dc0e
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/typescript.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.23 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  0e8d89867353293d9e57cf7ec126ab409a029cde
Due: none

feat: more tweaks
  src/configs/functional.ts
  src/configs/typescript.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.24 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4070318c02e2829a13946566bcd717683cbf6417
Due: none

feat: more tweaks
  package.json
  pnpm-lock.yaml
  src/configs/test.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.25 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  c2256b772b3cab2113244ec790fbb13e22482222
Due: none

feat: more tweaks
  src/configs/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.0.0-next.26 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  10284274625c619d7d3d81316d5aabd6173f86af
Due: none

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
