Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 3.2.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ee396f7e7fce248d4a02b2459976df91ed03ddd7
Due: none

fix: names of some configs
  src/configs/promise.ts
  src/configs/regexp.ts
  src/configs/sonar.ts
  src/configs/sort.ts
  src/configs/tailwind.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: allow disabling sonar rules
  src/factory.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.2.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  6bd51eeb438968faf447b3e5d862bb28a8958b9e
Due: none

fix: update to @vitest/eslint-plugin
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/test.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.2.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  4f1379e4e9bda08b5119e6767293c86ed4e5c7a8
Due: none

fix: disable no-constant-condition
  src/configs/javascript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.2.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  6136fd8f02b19fb4b6f07696e45377256f221888
Due: none

feat: use "mut_" over "m_"
  src/configs/formatters.ts
  src/configs/functional.ts
  src/configs/javascript.ts
  src/configs/typescript.ts
  src/factory.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.3.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  565be6ab6514da89e9505de890c4a5aec1b703ba
Due: none

build: update build process
  package.json
  pnpm-lock.yaml
  rollup.config.ts
  tsconfig.build.json
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

build: remove unused dev dep
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

fix: add eslint-plugin-jsx-a11y
  knip.jsonc
  package.json
  src/configs/react.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: add eslint-plugin-jsx-a11y
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/react.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  f2401bea92a97681d8b39579b7f9aeefdecd89a9
Due: none

chore(release): 3.3.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: updating naming-convention
  src/configs/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  edd34cca20efd974fb054b3bcbe1abd26bc4d625
Due: none

chore(release): 3.3.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: only enforce max-classes-per-file when not functional
  src/configs/javascript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: use functional/no-class-inheritance over functional/no-classes
  package.json
  pnpm-lock.yaml
  src/configs/functional.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

build: deps update
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

chore(release): 3.3.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  c17df1959e711763aa1b7b5f42fa05d1ba201677
Due: none

fix(ts/switch-exhaustiveness-check): considerDefaultExhaustiveForUnions: true
  package.json
  pnpm-lock.yaml
  src/configs/typescript.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: yaml/quotes
  src/configs/yaml.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.3.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  3789fcad54d5f276de2c0d8f8be9cc0891f155f1
Due: none

fix: check jsdoc used types
  src/configs/jsdoc.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 3.3.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ff6a70c7160f6baa8f95f1ebe1f3828cb59eb5d5
Due: none

feat: enforce non-sloppy imports for library code
  scripts/typegen.ts
  src/configs/imports.ts
  src/factory.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: update glob patterns
  src/globs.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

Notes added by 'git notes add'
  cf980c4348a20142382f3110f2550a7e99257549
Due: none

chore(release): 3.4.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
