Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9abdf284aa177b4ede9e37e45ddd027c30e63d38
Due: none

fix: move detect-non-literal-fs-filename to strict security and disable sonar argument-type
  AGENTS.md
  src/assembly.ts
  src/configs/security.ts
  src/configs/sonar.ts
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 4.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  d82d94a6a88d003e1161846776535a978df78eb8
Due: none

fix: disable jsdoc rules in editor
  src/configs/in-editor.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 4.0.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  94d72f04a91fc5d7a1a6d8baa4dd098394008ad0
Due: none

fix(security): disable detect-non-literal-regexp in lite/moderate severity
  src/configs/security.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore: disable unicorn/prefer-type-literal-last in markdown config
  src/configs/markdown.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 4.0.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  bd9edb1033614eb6e6cab06e7bc7f0903ebb1e26
Due: none

refactor(formatters): type dprint options and correct placement/defaults
  package.json
  pnpm-lock.yaml
  src/configs/formatters.ts
  src/types.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat!: per-category formatter selection
  README.md
  src/configs/formatters.ts
  src/types.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: eslint formatting backend
  README.md
  knip.jsonc
  project-dictionary.txt
  src/configs/eslint-formatter.ts
  src/configs/formatters.ts
  src/configs/stylistic-rules.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

refactor: unify stylistic rule sources
  src/assembly.ts
  src/configs/formatters.ts
  src/configs/stylistic.ts
  src/configs/vue.ts
  src/types.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: adopt @stylistic/curly-newline
  src/configs/stylistic-rules.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: document stylistic rule-source unification
  AGENTS.md
  README.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: adopt ts-native spacing rules
  src/configs/stylistic-rules.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: note list-style migration deferred to @stylistic v6
  README.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: indent returnType and assignmentOperator options
  src/configs/stylistic-rules.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: comma-dangle coverage for import attributes and dynamic imports
  src/configs/stylistic-rules.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: add disabled-rule audit (Task 5)
  docs/rule-audit.md
  project-dictionary.txt
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

feat: format css-family style blocks in Vue SFCs
  README.md
  project-dictionary.txt
  src/assembly.ts
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix(formatters): reject unknown formatter values at runtime
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

style: pipe-align rule-audit tables
  docs/rule-audit.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs: note vue-style virtual-glob edge case
  README.md
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

docs(assembly): spell out suppression ignores semantics
  src/assembly.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: require @stylistic/eslint-plugin >= 5.10 for adopted rule surfaces
  package.json
Due: prettier --write, prettier --ignore-unknown --write

fix(formatters): treat null category as unset for enablement
  src/configs/formatters.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: correct builder byte-compat claims post-Task-4
  src/configs/stylistic-rules.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

feat: seed stylistic indent from .editorconfig when unset
  src/assembly.ts
  src/utils.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

fix: explicitly exclude indented .sass from style formatting
  README.md
  src/configs/formatters.ts
  src/globs.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: keep tsconfig key sorting independent of stylistic option
  src/configs/jsonc.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

docs: note candidate formatter categories
  README.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
