Repository RebeccaStevens/eslint-config-rebeccastevens: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

fix: allow pascal case file names
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.6.9 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  38/21b3e80b5e44166bac66cb693be839452a765b
Due: none

feat: switch to eslint-plugin-n
  README.md
  knip.jsonc
  package.json
  pnpm-lock.yaml
  src/configs/script.ts
  src/configs/test.ts
  src/plugins/markdown.ts
  src/plugins/node.ts
  src/plugins/unicorn.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

chore(release): 1.7.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  9e/0c6cab459c319df94cdd8561d6c37d68203178
Due: none

chore: update deps
  package.json
  pnpm-lock.yaml
Due: prettier --write, prettier --ignore-unknown --write

fix: update markdown rules
  src/plugins/markdown.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  15/7ae27f547c0296873018c2e301584af0b6aeac
Due: none

fix: update import rules
  src/plugins/import.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

style: update linting
  src/builtin/deprecated.ts
  src/builtin/index.ts
  src/builtin/layout+formatting.ts
  src/builtin/possible-problems.ts
  src/builtin/suggestions.ts
  src/common/merge-configs.ts
  src/configs/common-overrides.ts
  src/configs/modern.ts
  src/configs/script.ts
  src/configs/test.ts
  src/configs/typescript.ts
  src/plugins/eslint-comments.ts
  src/plugins/functional.ts
  src/plugins/import.ts
  src/plugins/jsdoc.ts
  src/plugins/markdown.ts
  src/plugins/node.ts
  src/plugins/optimize-regex.ts
  src/plugins/promise.ts
  src/plugins/sonarjs.ts
  src/plugins/typescript.ts
  src/plugins/unicorn.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.2 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f4/1c8bade7e37aa2423086195dbd9be47d97e1f4
Due: none

fix: updating naming-convention
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.3 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  ae/f3d24345a1c20f77eed445bd7349644efcae7a
Due: none

fix: small fixers
  src/builtin/layout+formatting.ts
  src/plugins/eslint-comments.ts
  src/plugins/functional.ts
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.4 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  f2/886abe59cf4ff806fbfbfa3d600438f1c4ca18
Due: none

fix: update jsdoc/tag-lines for new version
  package.json
  pnpm-lock.yaml
  src/plugins/jsdoc.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.5 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  d5/106d9da5cd15e120a603bdeb1e200fefc4055e
Due: none

fix: allowConstantLoopConditions
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.6 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  cf/3442e57158879586d11736891444044be00343
Due: none

fix: enforce strict version of assert package
  src/plugins/node.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.7 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  12/2bfe8ce0d45760dbb1bd3249d0868c892c4993
Due: none

fix(naming-convention): getters shouldn't be marked mutable
  src/plugins/typescript.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 1.7.8 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  60/a3ad2dca4d0bee3fc168e3fc80be31f737428b
Due: none

feat: update for typescript-eslint v6
  .github/actions/prepare/action.yml
  .github/workflows/sync-labels.yml
  package.json
  pnpm-lock.yaml
  scripts/generate-preview.ts
  src/builtin/suggestions.ts
  src/common/merge-configs.ts
  src/configs/modern.ts
  src/plugins/markdown.ts
  src/plugins/typescript.ts
  src/plugins/unicorn.ts
Due: prettier --write, eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.0 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  e8/cdbe96208786016c21e80074e6f8ca063ae292
Due: none

fix: immutability overrides setting
  src/plugins/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

chore(release): 2.0.1 [skip ci]
  CHANGELOG.md
Due: prettier --ignore-unknown --write, cspell, markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore

Notes added by 'git notes add'
  15/619dbb4b38385a07929d62e2fdae61339929cc
Due: none

fix: update for latest eslint-plugin-functional v6 beta
  src/plugins/functional.ts
Due: eslint --fix, prettier --ignore-unknown --write, pnpm run generate-eslintrc, cspell

ci: release without linting
  .github/workflows/release.yml
Due: prettier --write, prettier --ignore-unknown --write

Path conditions:
  prettier --write: (any of: ./**/*.{json,yml}) or (any of: ./**/*.{ts})
  eslint --fix: (any of: ./**/*.{ts}) or (any of: *.ts)
  prettier --ignore-unknown --write: ((any of: *.{json,yml}) or (any of: *.ts)) or (any of: *.md)
  pnpm run generate-eslintrc: any of: *.ts
  cspell: (any of: *.ts) or (any of: *.md)
  markdownlint --config=.markdownlint.json --ignore-path=.markdownlintignore: any of: *.md
